
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background: linear-gradient(blue, lightblue);
    background-attachment: fixed;
    color: white;
}

img{
    max-width: 100%;
}

.container {
width: 90%;
margin: 0 auto;
padding: 16px;

}

header img {
    width: 56px;
    height: auto;
}

textarea {

    margin-top: 32px;
    margin-bottom: 32px;
    height: 120px;
    width: 100%;
    outline: none;
    resize: none;
    border: none;
    border-radius: 16px;
    padding: 24px;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

button {
    width: 64px;
    height: 56px;
    border-radius: 8px;
    border: none;
    background-color: rgb(247, 125, 145);
}

buttong img {
    vertical-align: middle;
}

.pitch-controls {
    width: 70%;
}

input {
    width: 100%;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: px;
}

.animated-duck {
    display: none;
}

.talking .animated-duck {
    display: block;

}

.talking .static-duck {
    display: none;

}